<footer class="l-footer">
    <div class="container">
        <div class="py-5 py-lg-6 text-center text-primary-400 border-top border-gray-300">©Vivre 2024 All right Reserved</div>
    </div>
</footer>