.p-post-article{
    &__overlay{
        position: relative;
        &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
        }
    }
}

.p-post-extendedReading{
    &__card{
        border-bottom: 1px solid #E9ECEF;
    }
}