<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>第6週主線任務-內容訂閱網站</title>

  <!-- Material Symbols -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

</head>

<body>
  <%- include('./layout/header'); -%>

    <main class="p-about">
      <div class="p-about-banner">
        <div class="container">
          <picture>
            <source media="(min-width: 992px)" srcset="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/about-banner.png?raw=true">
            <img class="p-about-banner__image img-fluid w-100" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/about-banner-sm.png?raw=true" alt="banner">
          </picture>
        </div>
      </div>
      <section class="pt-6 pb-9 pt-lg-12 pb-lg-12">
        <div class="container">
          <nav class="mb-0 mb-lg-5" aria-label="breadcrumb">
            <ol class="breadcrumb py-3 mb-0">
              <li class="breadcrumb-item"><a class="link-gray-400" href="./index.html">首頁</a></li>
              <li class="breadcrumb-item active text-secondary-200" aria-current="page">關於我們</li>
            </ol>
          </nav>
          <h1 class="fs-4 fs-lg-1">關於我們</h1>
          <div class="py-9 py-lg-12">
            <div class="row g-6  mb-6 mb-lg-11">
              <div class="col-lg-6">
                <picture>
                  <source media="(min-width: 992px)" srcset="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/about-1.png?raw=true">
                  <img class="img-fluid w-100" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/about-1-sm.png?raw=true" alt="about">
                </picture>
              </div>
              <div class="col-lg-6 ">
                <div class="px-3 px-lg-9 mb-4 mb-lg-8">
                  <h2 class="font-newsreader text-dark fw-bold fs-4 fs-lg-2">Vivre</h2>
                  <p class="text-gray-400">vivre 這個品牌名稱源自法語,意為"生活"、"活著"。它象徵著我們對於高品質生活的熱愛與追求。vivre 旨在成為一個分享美好生活體驗、發掘生活質感的平台。</p>
                </div>
                <div class="px-3 px-lg-9">
                  <h3 class="fs-6 fw-bold text-dark mb-3">我們的品牌價值</h3>
                  <ul>
                    <li class="text-gray-400 mb-2">熱愛生活,好奇心永存</li>
                    <li class="text-gray-400 mb-2">品味獨具,講究生活質感</li>
                    <li class="text-gray-400 mb-2">分享真實生活,啟發生活靈感</li>
                    <li class="text-gray-400">推廣慢生活哲學,注重內在修為</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="row g-6 flex-lg-row-reverse">
              <div class="col-lg-6">
                <picture>
                  <source media="(min-width: 992px)" srcset="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/about-2.png?raw=true">
                  <img class="img-fluid w-100" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/about-2-sm.png?raw=true" alt="about">
                </picture>
              </div>
              <div class="col-lg-6">
                <div class="px-3 px-lg-9">
                  <h2 class="fs-4 fs-lg-2 text-dark mb-4 mb-lg-8">風格特色</h2>
                  <p class="text-gray-400 mb-4 mb-lg-8">vivre 所展現的風格特色,可以用知性、親和、用心、優雅與獨特這些詞語來概括。我們講求內容的原創性與探索精神,不跟風追隨潮流話題,而是真誠分享獨特的生活視角與體驗。無論是旅行、美食、居家、時尚等生活領域,我們都希望能夠呈現出與眾不同、縝密入微、內外兼具的見解,給讀者帶來嶄新的感受和啟迪。</p>
                  <p class="text-gray-400">無論您是對美食、旅行、居家生活還是時尚風尚有獨到的見解和體會,只要切合vivre的價值理念與風格調性,我們都熱烈歡迎您加入這個平台,與我們一起分享和交流生活的點點滴滴。</p>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="p-about-history bg-primary-200 py-9 py-lg-12">
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <h2 class="text-center text-lg-start fs-4 fs-lg-2">大事記</h2>
            </div>
            <ul class="list-unstyled col-lg-8">
              <li class="d-lg-flex align-items-start mb-12">
                <span class="d-inline-block font-newsreader fw-bold text-light fs-5 fs-lg-3 p-3 bg-primary-400 mb-6 mb-lg-0 me-lg-13">2020</span>
                <ul class="list-unstyled">
                  <li class="d-flex mb-6">
                    <span class="me-3 me-lg-4 fs-6 fs-lg-4 flex-shrink-0 p-about-history__listMonth" >5月</span>
                    <p class="ps-3 ps-lg-4 border-start border-gray-300">創辦人茱麗葉、亞歷山大和幾個好友在巴黎開設 vivre 生活部落格,紀錄分享他們對美好生活的想法和體驗。</p>
                  </li>
                  <li class="d-flex">
                    <span class="me-3 me-lg-4 fs-6 fs-lg-4 flex-shrink-0 p-about-history__listMonth" >10月</span>
                    <p class="ps-3 ps-lg-4 border-start border-gray-300">部落格內容和讀者人數逐漸累積,決定成立 vivre 品牌,開發更多元豐富的內容。</p>
                  </li>
                </ul>
              </li>
              <li class="d-lg-flex align-items-start mb-12">
                <span class="d-inline-block font-newsreader fw-bold text-light fs-5 fs-lg-3 p-3 bg-primary-400 mb-6 mb-lg-0 me-lg-13">2021</span>
                <ul class="list-unstyled">
                  <li class="d-flex mb-6">
                    <span class="me-3 me-lg-4 fs-6 fs-lg-4 flex-shrink-0 p-about-history__listMonth" >3月</span>
                    <p class="ps-3 ps-lg-4 border-start border-gray-300">vivre網站正式上線,除了原創文字內容,還加上了視訊、音訊等多媒體形式。</p>
                  </li>
                  <li class="d-flex mb-6">
                    <span class="me-3 me-lg-4 fs-6 fs-lg-4 flex-shrink-0 p-about-history__listMonth" >7月</span>
                    <p class="ps-3 ps-lg-4 border-start border-gray-300">與法國本土品牌合作,推出 vivre 首個自有產品線,包括家飾、餐飲用品等生活品味商品。</p>
                  </li>
                  <li class="d-flex">
                    <span class="me-3 me-lg-4 fs-6 fs-lg-4 flex-shrink-0 p-about-history__listMonth" >12月</span>
                    <p class="ps-3 ps-lg-4 border-start border-gray-300">總瀏覽人次突破 100 萬大關,獲得實體出版社青睞,出版 vivre 生活風格書籍。</p>
                  </li>
                </ul>
              </li>
              <li class="d-lg-flex align-items-start mb-12">
                <span class="d-inline-block font-newsreader fw-bold text-light fs-5 fs-lg-3 p-3 bg-primary-400 mb-6 mb-lg-0 me-lg-13">2022</span>
                <ul class="list-unstyled">
                  <li class="d-flex mb-6">
                    <span class="me-3 me-lg-4 fs-6 fs-lg-4 flex-shrink-0 p-about-history__listMonth" >3月</span>
                    <p class="ps-3 ps-lg-4 border-start border-gray-300">推出 vivre 生活風格線上課程,聘請各領域專家開設有深度的付費課程。</p>
                  </li>
                  <li class="d-flex mb-6">
                    <span class="me-3 me-lg-4 fs-6 fs-lg-4 flex-shrink-0 p-about-history__listMonth" >8月</span>
                    <p class="ps-3 ps-lg-4 border-start border-gray-300">vivre 舉辦首屆 vivre 生活節,線上線下同步展開,現場湧入大批品牌粉絲朋友。</p>
                  </li>
                  <li class="d-flex">
                    <span class="me-3 me-lg-4 fs-6 fs-lg-4 flex-shrink-0 p-about-history__listMonth" >10月</span>
                    <p class="ps-3 ps-lg-4 border-start border-gray-300">vivre 完成  A 輪融資,獲得知名風投資金青睞。</p>
                  </li>
                </ul>
              </li>
              <li class="d-lg-flex align-items-start">
                <span class="d-inline-block font-newsreader fw-bold text-light fs-5 fs-lg-3 p-3 bg-primary-400 mb-6 mb-lg-0 me-lg-13">2023</span>
                <ul class="list-unstyled">
                  <li class="d-flex mb-6">
                    <span class="me-3 me-lg-4 fs-6 fs-lg-4 flex-shrink-0 p-about-history__listMonth" >1月</span>
                    <p class="ps-3 ps-lg-4 border-start border-gray-300">vivre 宣布品牌願景"探索更美好的生活",並推出全新視覺形象。</p>
                  </li>
                  <li class="d-flex mb-6">
                    <span class="me-3 me-lg-4 fs-6 fs-lg-4 flex-shrink-0 p-about-history__listMonth" >5月</span>
                    <p class="ps-3 ps-lg-4 border-start border-gray-300">正式推出付費訂閱會員服務,提供高階獨家內容和會員優惠。</p>
                  </li>
                  <li class="d-flex mb-6">
                    <span class="me-3 me-lg-4 fs-6 fs-lg-4 flex-shrink-0 p-about-history__listMonth" >9月</span>
                    <p class="ps-3 ps-lg-4 border-start border-gray-300">首次評選年度" vivre 生活風格大獎",表彰在各領域具有開創性的人物及品牌。</p>
                  </li>
                  <li class="d-flex">
                    <span class="me-3 me-lg-4 fs-6 fs-lg-4 flex-shrink-0 p-about-history__listMonth" >11月</span>
                    <p class="ps-3 ps-lg-4 border-start border-gray-300">首次登場的" vivre 生活節沙龍"在全球主要城市同步舉行,線上線下吸引百萬人觀看。</p>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <section class="p-about-vision py-9 py-lg-12">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto px-3 px-lg-9">
              <h2 class="text-center fs-4 fs-lg-2 mb-6 mb-lg-8 ">品牌願景</h2>
              <p class="text-gray-400 mb-6 mb-lg-8">我們的目標不僅是為讀者提供高水準的內容，更希望能真正啟發和影響讀者的生活方式與價值觀,引領走向更有意義、品質與質感的生活體驗。我們相信,生活的意義不僅僅在於外在物質條件的滿足,更多的是一種心靈層面的追求,一種對美好事物的不懈向往。因此,vivre 的定位是成為啟迪現代人內在生活的引路人,給予靈感啟迪,引領讀者去體驗生活的真諦。</p>
              <p class="text-gray-400">我們衷心期盼，vivre 能為現代人的生活帶來無限靈感啟發,讓每個人的生活之路不僅優雅、從容,更有內在的意義與價值,豐富而燦爛。讓我們共同努力,將生活過得更有滋有味!期待您一同加入 vivre，攜手同行這段美妙的人生旅程。</p>
            </div>
          </div>
        </div>
      </section>
    </main>

    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>