<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>第6週主線任務-內容訂閱網站</title>

  <!-- Material Symbols -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

</head>

<body>
  <%- include('./layout/header'); -%>

    <main class="p-index">
      <section class="p-index-banner py-0 py-lg-12">
        <div class="container px-0 px-lg-3">
          <div
            class="p-index-banner__body d-flex align-items-end justify-content-center align-items-lg-center justify-content-lg-start">
            <div class="p-index-banner__content text-center text-lg-start">
              <h4 class="text-white fs-6 fs-lg-5 mb-2 mb-lg-3">獻給新世代的生活風格誌</h4>
              <h1 class="text-white  fs-3 fs-lg-1 mb-5 mb-lg-6">一起探索生活的無限可能</h1>
              <a href="./subscribe.html" type="button" class="btn btn-secondary-200 text-white fs-lg-5">馬上訂閱<span
                  class="material-symbols-outlined ms-3" style="vertical-align: sub;">
                  east
                </span></a>
            </div>
          </div>
        </div>

      </section>

      <section class="p-index-hotTopic py-10 py-lg-12">
        <div class="container">
          <h2 class="fs-4 fs-lg-2 mb-6">熱門主題</h2>
          <div class="row gy-2 g-lg-6">
            <div class="col-lg-3">
              <div class="topic-card ">
                <picture>
                  <source media="(min-width: 992px)"
                    srcset="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/theme-1.png?raw=true">
                  <img class="topic-card__picture rounded-top-left-1 rounded-bottom-right-1"
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/theme-1-sm.png?raw=true"
                    alt="topic">
                </picture>
                <a href="#" class="topic-card__text link-light bold fw-700">城市漫遊者</a>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="topic-card ">
                <picture>
                  <source media="(min-width: 992px)"
                    srcset="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/theme-3.png?raw=true">
                  <img class="topic-card__picture rounded-top-left-1 rounded-bottom-right-1"
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/theme-3-sm.png?raw=true"
                    alt="topic">
                </picture>
                <a href="#" class="topic-card__text link-light bold fw-700">秘境尋蹤人</a>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="topic-card ">
                <picture>
                  <source media="(min-width: 992px)"
                    srcset="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/theme-5.png?raw=true">
                  <img class="topic-card__picture rounded-top-left-1 rounded-bottom-right-1"
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/theme-5-sm.png?raw=true"
                    alt="topic">
                </picture>
                <a href="#" class="topic-card__text link-light bold fw-700">品味設計家</a>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="topic-card ">
                <picture>
                  <source media="(min-width: 992px)"
                    srcset="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/theme-8.png?raw=true">
                  <img class="topic-card__picture rounded-top-left-1 rounded-bottom-right-1"
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/theme-8-sm.png?raw=true"
                    alt="topic">
                </picture>
                <a href="#" class="topic-card__text link-light bold fw-700">美食探險記</a>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="topic-card ">
                <picture>
                  <source media="(min-width: 992px)"
                    srcset="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/theme-2.png?raw=true">
                  <img class="topic-card__picture rounded-top-left-1 rounded-bottom-right-1"
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/theme-2-sm.png?raw=true"
                    alt="topic">
                </picture>
                <a href="#" class="topic-card__text link-light bold fw-700">美學建築誌</a>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="topic-card ">
                <picture>
                  <source media="(min-width: 992px)"
                    srcset="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/theme-4.png?raw=true">
                  <img class="topic-card__picture rounded-top-left-1 rounded-bottom-right-1"
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/theme-4-sm.png?raw=true"
                    alt="topic">
                </picture>
                <a href="#" class="topic-card__text link-light bold fw-700">慢活生活行</a>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="topic-card ">
                <picture>
                  <source media="(min-width: 992px)"
                    srcset="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/theme-6.png?raw=true">
                  <img class="topic-card__picture rounded-top-left-1 rounded-bottom-right-1"
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/theme-6-sm.png?raw=true"
                    alt="topic">
                </picture>
                <a href="#" class="topic-card__text link-light bold fw-700">工藝匠心賞</a>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="topic-card ">
                <picture>
                  <source media="(min-width: 992px)"
                    srcset="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/theme-7.png?raw=true">
                  <img class="topic-card__picture rounded-top-left-1 rounded-bottom-right-1"
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/theme-7-sm.png?raw=true"
                    alt="topic">
                </picture>
                <a href="#" class="topic-card__text link-light bold fw-700">時尚先鋒派</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="p-index-summary my-10 my-lg-12">
        <div class="container">
          <div class="row">
            <div class="col-lg-6  d-flex align-items-lg-center mb-7 mb-lg-0">
              <div class="text-center text-lg-start">
                <h6 class="mb-4 text-gray-400">今天又不知道要去哪裡了嗎？</h6>
                <h2 class="mb-6 mb-lg-8">Vivre<br class="d-lg-none"> 給你意想不到的生活風格提案</h2>
                <a href="./subscribe.html" type="button" class="btn btn-secondary-200 text-white fs-lg-5">馬上訂閱
                  <span class="material-symbols-outlined ms-3" style="vertical-align: sub;">
                    east
                  </span></a>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="row flex-nowrap flex-lg-wrap overflow-x-scroll overflow-x-lg-visible">
                <div class="col-lg-6 pt-lg-12">
                  <div class="d-flex flex-lg-column flex-nowrap flex-lg-wrap overflow-x-scroll overflow-x-lg-visible">
                    <div class="project-card mb-lg-9 me-6 me-lg-0 pt-7 pt-lg-0 flex-shrink-0">
                      <div class="project-card__body">
                        <img class="project-card__image rounded img-fluid" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/projects-2.png?raw=true" alt="project">
                        <span class="project-card__badge text-secondary-300 fw-bold rounded border border-secondary"><span class="material-symbols-outlined text-secondary-300">
                          arrow_right
                          </span>人氣行程</span>
                        <a class="project-card__link link-light" href="#">
                          <span>親子露營要帶什麼？</span>
                          <span class="material-symbols-outlined">
                            east
                          </span>
                        </a>
                      </div>
                    </div>
                    <div class="project-card pt-7 pt-lg-0 flex-shrink-0">
                      <div class="project-card__body">
                        <img class="rounded img-fluid" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/projects-4.png?raw=true" alt="project">
                        <span class="project-card__badge text-secondary-300 fw-bold rounded border border-secondary"><span class="material-symbols-outlined text-secondary-300">
                          arrow_right
                          </span>編輯推薦</span>
                        <a class="project-card__link link-light" href="#">
                          <span>質感房間改造攻略！</span>
                          <span class="material-symbols-outlined">
                            east
                          </span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="d-flex flex-lg-column flex-nowrap flex-lg-wrap overflow-x-scroll overflow-x-lg-visible">
                    <div class="project-card mb-lg-9 me-6 me-lg-0 pt-7 pt-lg-0 flex-shrink-0">
                      <div class="project-card__body">
                        <img class="rounded img-fluid" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/projects-1.png?raw=true" alt="project">
                        <span class="project-card__badge text-secondary-300 fw-bold rounded border border-secondary"><span class="material-symbols-outlined text-secondary-300">
                          arrow_right
                          </span>編輯推薦</span>
                        <a class="project-card__link link-light" href="#">
                          <span>山女孩的健行筆記</span>
                          <span class="material-symbols-outlined">
                            east
                          </span>
                        </a>
                      </div>
                    </div>
                    <div class="project-card pt-7 pt-lg-0 flex-shrink-0">
                      <div class="project-card__body">
                        <img class="rounded img-fluid" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/projects-3.png?raw=true" alt="project">
                        <span class="project-card__badge text-secondary-300 fw-bold rounded border border-secondary"><span class="material-symbols-outlined text-secondary-300">
                          arrow_right
                          </span>熱門文章</span>
                        <a class="project-card__link link-light" href="#">
                          <span>適合溜小孩的海邊景點推薦</span>
                          <span class="material-symbols-outlined">
                            east
                          </span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="p-index-contactUs my-10 my-lg-12">
        <div class="container">
          <div
            class="d-flex flex-column align-items-center flex-lg-row align-items-lg-start justify-content-lg-between">
            <h2 class="mb-4 fs-4 fs-lg-2">想看什麼主題由你決定！</h2>
            <div class="text-center text-lg-end">
              <h6 class="fs-5 fs-lg-4 mb-8 mb-lg-4">歡迎投稿與我們分享</h6>
              <a href="./subscribe.html" type="button" class="btn btn-secondary-200 btn-lg text-white fs-5">聯絡我們</a>
            </div>
          </div>
        </div>
      </section>
      <!-- 以下需刪除 -->
      <div class="container">
        <button id="testBtn" type="button" class="btn btn-secondary-300">我是collapse</button>
        <button type="button" class="btn btn-primary fs-lg-1">我是按鈕</button>
        <button type="button" class="btn btn-secondary">我是按鈕</button>
        <button type="button" class="btn btn-sm btn-light">我是按鈕</button>
        <button type="button" class="btn btn-gray-400">我是按鈕</button>
        <button type="button" class="btn btn-lg btn-dark">我是按鈕</button>
        <button type="button" class="btn btn-danger font-newsreader">Vivre</button>

        <div class="box bg-info rounded-top-left-1" style="width: 200px; height: 200px;">
        </div>
      </div>
      <h1 class="index-title mb-12">我是首頁</h1>
      <div class="card" style="width: 18rem">
        <img src="../assets/images/cat.jpg" class="card-img-top" alt="cat" />
        <div class="card-body">
          <h5 class="card-title">卡片元件</h5>
          <p class="card-text font-newsreader">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, odit, iusto odio assumenda alias id
            nobis earum!
          </p>
        </div>
      </div>
      <!-- Modal 按鈕 -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        打開 modal
      </button>
      <!-- Modal 元件 -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal 標題</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">內容</div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
              <button type="button" class="btn btn-primary">確定</button>
            </div>
          </div>
        </div>
      </div>
    </main>

    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>