<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>第6週主線任務-內容訂閱網站</title>

  <!-- Material Symbols -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

</head>

<body>
  <%- include('./layout/header'); -%>

    <main class="p-login py-11 py-lg-15">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mx-auto">
            <form class="bg-white p-6 p-lg-9">
              <h1 class="fs-4 text-secondary-200 mb-6 mb-lg-9">登入</h1>
              <div class="mb-4">
                <label for="loginAccount" class="form-label fw-bold mb-2 mb-lg-3">會員帳號</label>
                <input type="text" class="form-control bg-light" id="loginAccount" placeholder="請輸入會員帳號">
              </div>
              <div class="mb-6 mb-lg-9">
                <label for="loginPassword" class="form-label fw-bold mb-2 mb-lg-3">密碼</label>
                <input type="password" class="form-control bg-light" id="loginPassword" placeholder="請輸入密碼">
              </div>
              <button type="submit" class="btn btn-secondary-200 text-white w-100  mb-6 mb-lg-9">立即登入<span class="material-symbols-outlined ms-3 ">
                east
                </span></button>
                <p class="p-login__horizon text-gray-300 mb-6 mb-lg-9">或以其他方式登入</p>
                <a href="#" class="btn btn-light w-100 mb-2" type="button"><img class="me-3" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/icons-google.png?raw=true" alt="google" style="vertical-align: sub;">使用 Google 登入</a>
                <a href="#" class="btn btn-light w-100 mb-6 mb-lg-9" type="button"><img class="me-3" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2024-week6/icons-facebook.png?raw=true" alt="FB" style="vertical-align: sub;">使用 Facebook 登入</a>
                <div class="d-flex justify-content-center gap-3">
                  <p>已經是會員了？ </p>
                  <a href="./register.html" class="link-secondary-200">點此註冊</a>
                </div>
            </form>
          </div>
        </div>
      </div>
    </main>

    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>